* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body,

.container{
    min-height: 100vh;
    background-color:rgb(101, 100, 102);
    }

.container{
    display: flex;
    flex-direction: column;
    gap:1em;
    margin: 2em 5em;
    }
header{
        flex: 0.0;
        background-color: rgb(212, 209, 209);/*removed border: 2px solid blueviolet; */
        border-radius: 2em;
        box-shadow: 0 4px 15px black;
    
          }
/*Section containing left and right columns below layout*/
section {
        flex: 2;
        gap:1em; 
        border-radius: 2em;
        display: flex;
    }
/*Column left layout*/
    .col-left{
        flex: 1;
        background-color: rgb(212, 209, 209); /*removed border: 2px solid red; */
        border-radius: 2em;
    }
/*Column right layout*/
    .col-right{
        flex: 1;
        background-color: rgb(212, 209, 209);  /*removed border: 2px solid red; */
        border-radius: 2em;
    }

        /*2nd Section containing leftt and rightt columns below layout*/
.second-containerr{
    flex: 2;
        gap:1em; 
        border-radius: 2em;
        display: flex;
}

.col-leftt{
        flex: 1;
        background-color: rgb(212, 209, 209);/*removed border: 2px solid red; */
        border-radius: 2em;
    }
    .col-rightt{
        flex: 1;
        background-color: rgb(212, 209, 209); /*removed border: 2px solid red; */
        border-radius: 2em;
    }

footer{
        flex: 1;
        border-radius: 2em;
        background-color: rgb(212, 209, 209);
        }

footer-2{
        flex: 1;
        border-radius: 2em;
        background-color: rgb(212, 209, 209);
        }

@media(max-width:968px){
          
            section,
               .container section{
                flex-direction: column;}
        .container{margin: 1em 2em;}           
        .menu p{opacity: 1;}
        }

    
/* Logo Text in the header styling*/

    header h1{
        padding: 40px;
        margin-bottom: 20px;
        font-size: 90px;
        color: #222121;
        text-align: center;
               
    }

/*Column left paragraph styling*/
.col-left p {
        
        padding: 40px;
       font-size: 20px;
        color: #222121;
                            
    }
/*Column right paragraph styling*/
  .col-right {padding:10px 0;}
            
  .col-right p {                
                margin-top:2%;
                margin-left: 3%;
                border: 4px solid rgb(5, 4, 4);
   }


.col-leftt img{
     
    width: 60%;
    height: 60%;
    margin-top:5%;
    margin-left: 25%;
    border: 4px solid rgb(14, 12, 12);
    
 }



 .col-rightt p {
        flex: 1;
        padding: 40px;
        font-size: 20px;
        color: #222121;
       
    }

    /*---------------------Menu image-------------- */

    
/*---------------------Footer section-------------- */
 
    
.footer1, .footer2, .footer3{ 
    
    display: flex;
    justify-content : left;
    align-items: center;
    color:rgb(3, 2, 0);
    /*justify-content: space-between;*/


}

.last-footer {
    display: flex;
     padding: 20px;
       font-size: 16px;
        color: #222121;
        justify-content: center;
}

       

            

           
            


            
 
    

  

  






